<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
 
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>
  <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12" style="height:240px;">
               
  <h3 class="text-center mb-5">Enter new password</h3>
                    
                    <form action="" th:action="@{change-password}" >
                    <div class="form-group">
                    <input required type="password" name="password" placeholder="Enter password here" class="form-control">
           
                    </div>
                    <div class="container text-center">
                    <button class="btn btn-warning">Verify</button>
                    </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>